body {
  background-color: antiquewhite;
}

li {
  list-style: none;
}

button {
  border: none;
}
button:focus,
button:focus-visible {
  border: none;
}

.keyboard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-radius: 4px;
  padding: 6px;
  background: #625964;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  /* transition: bottom 0.4s; */
}

.input__board {
  display: block;
  width: auto;
  height: 80px;
  background-color: #fff;
}
.keyboard__container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btns {
  background-color: transparent;
  border: none;
  width: auto;
  cursor: pointer;
}
.keyboard__btn {
  height: 25px;
  width: 5%;
  max-width: 90px;
  margin: 4px;
  border-radius: 4px;
  border: none;
  background-color: rgba(236, 206, 206, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard__btn_l {
  width: 12%;
}

.keyboard__btn_xl {
  width: 47%;
  max-width: 500px;
}

.keyboard__btn_activ {
  background-color: rgb(243, 229, 148);
}
.keyboard__btn_dark {
  background-color: rgba(31, 28, 28, 0.2);
}

.keyboard__btn_activ_cap,
.keyboard__btn_activ_shift {
  background-color: rgb(243, 229, 148);
}

.keyboard__btn_activ_key {
  background-color: aqua;
}
